{% extends 'base.html' %}

{% block content%}

    <div class="row justify-content-center">
        <div class="col-6">

            <div class="card">
                <img src="/static/auth.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Authentication</h5>
                    <p class="text-justify">
                        This is the Django Authentication project where login, signup, logout
                        changepassword sort of things have been done with the help of Django
                        Authentication.
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}